<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Exercice 03</title>
    </head>
    <body>
        <header>
            <h1>MON SITE SYMFONY</h1>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>Mon pied de page</p>
        </footer>
    </body>
</html>