{% extends 'ex01/base.html.twig' %}

{% block title %}New post{% endblock %}

{% block body %}
    <div class="post">
        <div class="post-title">Create an article</div>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div style="text-align: center;">
                 <button type="submit" class="btn">Publish</button>
            </div>
        {{ form_end(form) }}
        <div style="text-align: center; margin-top: 15px;">
            <a href="{{ path('app_homepage') }}">Cancel</a>
        </div>
    </div>
{% endblock %}