{% extends 'ex01/base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <div class="card">
        <h1>Edit Post</h1>
        
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn">Save changes</button>
        {{ form_end(form) }}

        <div class="links">
            <a href="{{ path('app_post_show', {'id': post.id}) }}">Cancel</a>
        </div>
    </div>
{% endblock %}